.title {
    margin-top: 6px;
    padding: 2rem 3rem;
    background-color: var(--dark-gray);
}

.container {
    padding: 5% 2%;
}


.col {
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.description {
    composes: col;
    text-align: center;
}

.description h1 {
    font-size: 3rem;
    position: relative;
    z-index: 1;
}

.description h1::after {
    content: '';
    height: 35px;
    width: 35px;
    background-color: var(--brand-secondary);
    position: absolute;
    top: 2px;
    left: -8px;
    z-index: -1;
}

.description p {
    font-size: 1.4rem;
}

.button {
    padding: 12px 22px;
    border: 0;
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    border: 1px solid #f8efd4;
    background-color: #1b1b1b;
    color: #f8efd4;
    font-size: 22px;
    font-family: Big Shoulders Stencil Display, cursive;
    text-transform: uppercase;
    transition: all .4s;
    cursor: pointer;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    bottom: -150%;
    left: -10px;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: var(--brand-secondary);
    transition: .4s;
    opacity: 1;
}

.button:hover {
    background-color: #f8efd4;
    letter-spacing: 4px;
}

.button:hover::before {
    transform: translateY(calc(-100% + 3px));

}

.imageContainer {
    composes: col;
}

.imageContainer img {
    width: 100%;
    min-width: 380px;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .imageContainer {
        order: -1;
    }

    .container {
        padding: 5% 5%
    }
}