.title {
    margin-top: 6px;
    padding: 2rem 3rem;
    background-color: var(--dark-gray);
}

.container {
    padding: 5% 2%;
}


.col {
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.description {
    composes: col;
    text-align: center;
}

.description h1 {
    font-size: 3rem;
    position: relative;
    z-index: 1;
}

.description h1::after {
    content: '';
    height: 35px;
    width: 35px;
    background-color: var(--brand-secondary);
    position: absolute;
    top: 2px;
    left: -8px;
    z-index: -1;
}

.description p {
    font-size: 1.4rem;
}

.button {
    padding: 12px 22px;
    border: 0;
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    border: 1px solid #f8efd4;
    background-color: #1b1b1b;
    color: #f8efd4;
    font-size: 22px;
    font-family: Big Shoulders Stencil Display, sans-serif;
    text-transform: uppercase;
    transition: all .4s;
    cursor: pointer;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    bottom: -150%;
    left: -10px;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: var(--brand-secondary);
    transition: .4s;
    opacity: 1;
}

.button:hover {
    background-color: #f87f7f;
    letter-spacing: 4px;
}

.button:hover::before {
    transform: translateY(calc(-100% + 3px));

}

.imageContainer {
    composes: col;
}

.project:nth-child(2n-1) .imageContainer {
    order: 1;
}

.imageContainer img {
    width: 100%;
    min-width: 380px;
    border-radius: 50%;
}

/***************  Modal Styles  ****************/

.modal {
    min-width: 60%;
    background-color: gray;
    border-radius: 8px;
}

.modalContent {
    background-color: var(--brand-main);
    color: var(--font-main);
    text-align: center;
}


.modalImages img {
    border: 3px solid var(--brand-secondary);
    max-width: 100%;
    margin: 40px;
}

.video {
    width: 800px;
    height: 600px;
    max-width: 100%;
}

.install {
    background-color: var(--dark-gray);
    width: 80%;
    max-width: 910px;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.text {
    width: 35%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.text p {
    font-family: serif;
    line-height: 1.4;
    font-size: 1.1em;
}

.image {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.image img {
    max-width: 100%;
    display: flex;
    margin: auto;
}


@media screen and (max-width: 900px) {
    .install {
        width: 95%;
        flex-direction: column-reverse;
        padding: 0;
    }
    .text {
        width: 100%;
        margin: 0;
        padding: 1em 2em;
    }

    .text h1 {
        margin-bottom: 10px;
    }

    .text p {
        padding: 0 2em;
        text-align: center;
    }

    .image {
        width: 100%;
        margin: 0;
    }

    .image img {
        border-radius: 20px 20px 0 0;
        width: 100%;
    }
    .video{
        max-width: 90%;
        height: auto;
        min-height: 200px;
    }
}


@media screen and (max-width: 767px) {
    .container {
        padding: 5% 5%
    }

    .project:nth-child(2n-1) .imageContainer {
        order: unset;
    }

}


@media screen and (max-width:450px) {
    .modal {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    .modalContent {
        padding-left: 0 !important;
    }

    .modalImages {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:380px) {
    .imageContainer img {
        min-width: unset;
    }
}