.header {
    height: var(--viewport-height);
    max-width: unset;
    background-image: url('../../assets/main-car-cropped.jpg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 100% 30%;
    position: relative;
}


.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%,
            rgba(0, 0, 0, 0.0) 100%);
}

header::after {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(161, 25, 11, 1) 50%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);

}

.container {
    height: 100%;
}

.text {
    height: 100%;
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.text h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.text p {
    font-size: 1.2rem;
}

@media (max-width:980px) {
    .header {
        background-size: 80%;
        background-position-x: 100%;
        background-position-y: center;
    }

    .text h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 767px) {
    .header {
        background-size: cover;
        background-position-x: 30%;
        background-position-y: center;
    }

    .text h1 {
        font-size: 2.5rem;
    }

    .text p {
        font-size: 1rem;
    }
}