@media screen and (max-width: 991px) {
  .navbar {
    overflow: visible;
  }
  .navbar-collapse.collapse {
    pointer-events: none;
  }
  .navbar-collapse {
    flex-basis: unset;
    flex-grow: 0;
    opacity: 0;
    top: 100%;
    right: 20px;
    position: absolute;
    overflow: visible;
    background-color: rgba(161, 25, 11, 0.7);
    padding: 20px 40px;
    transition: all 0.3s ease-in-out;
  }
  .navbar-collapse.collapse.show {
    opacity: 1;
    pointer-events: all;
  }
}
