.description {
    height: var(--viewport-height);
    background-color: var(--dark-gray);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 68px;
}


.imageContainer {
    padding: 0;
}

.imageContainer img {
    width: 100%;
}