#root {
  background-color: var(--brand-main);
  overflow: hidden;
}


.page {
  height: calc(100vh - 68px);
  overflow: hidden;
  scrollbar-color: var(--brand-secondary) var(--brand-main);
  scrollbar-width: 12px;
}