* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-main: #000;
  --brand-secondary: #A1190B;
  --dark-gray: #171717;
  --font-main: #fff;
  --dark: #000;
  --viewport-height: calc(100vh - 68px);
}

::-webkit-scrollbar {
  width: 14px;
}


::-webkit-scrollbar-track {
  background-color: var(--dark);
  border: 1px solid var(--dark-gray)
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: var(--brand-secondary);
}